/* from demo */
.nav-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  font-size: 1.2em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p {
  color: rgb(243, 55, 181);;
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: rgb(243, 55, 181);;
}

.fade-in-color {
  color: rgb(243, 55, 181);;
  transition: 0.5s color ease;
}

.fade-in-color:hover {
  color: rgb(243, 55, 181);;
  text-decoration: none;
}


.custom-input-2 {
  border: 0;
  background: #eee;
  padding: 0.5em;
}

.custom-input-2:focus {
  box-shadow: 0 1px 5px #aaa;
}

.custom-button-1 {
  border: 1px solid black;
  border-radius: 0;
  box-shadow: 2px 2px 0 black;
  color: rgb(243, 55, 181);;
}

.custom-button-1:hover {
  background: black;
  color: rgb(243, 55, 181);;
  box-shadow: 2px 2px 0 gray;
}


/* ----------------------- */

.msg{
  color: rgb(243, 55, 181);
} 
  /* dark mode babyyyyyyyyy */

/* end base.html style */


body {
  background-color: black;
  color: white;
  /* font-family: 'Chakra Petch', sans-serif;  */
  font-family: 'Roboto Mono', monospace;
}
/* css for star rating: */
  *{
      margin: 0;
      padding: 0;
  }
  .rate {
      border: 1px solid black;
      float: left;
      height: 46px;
      padding: 0 10px;
  }
  .rate:not(:checked) > input {
      position:absolute;
      top:-9999px;
  }
  .rate:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
  }
  .rate:not(:checked) > label:before {
      content: '★ ';
  }
  .rate > input:checked ~ label {
      color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
      color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
  }
  div#loading {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp);
    /* background-color: rgba(0,0,0,0.5); Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
 



.histdate{
  font-size: 1vw;
}

.todolist {
    margin: auto;
    width: 80%;
}

.form-control{
  background-color: black;
  border: 1px solid black;
}
/* end homepage.html */

.donki-report{
    font-size: 1vw;
}
.histdate{
    font-size: 2vw;
}
/* end specific to hist data page */

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }
a{
  color: #ff12c4;
}

a :hover{
  
    color: rgb(243, 55, 181);
    text-decoration: none;
  
}
.epic-btn{
position: relative;
align-items: center;
}
.epic-btn .btn{
  display: inline block;
  float: horizontal;

}