{% extends 'base.html' %}
{% block title %}Space Weather Home{% endblock %}


{% block head %} 

{% endblock head %}

{% block body %}
 
<div id="loading">          
  <a href="https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp"></a>
  <h1> Thank you for waiting while we go to space and back.</h1>
</div>

<div class="split left">
  <div class="centered">
   
    <div class = "histdate">
      <form action = "/get-historical-data">
        <h1>Stuck in the past?</h1>
        <label>
          Start date:
          <input id = "today" type="date" name="sdate" value = "">
        </label>
        <br>
        <label>
          End date:
          <input id = "today" type="date" name="edate" value = "">
        </label>
        <input type="submit" class = "button" onclick="loading();">
        <button type="reset" class = "button" value="Reset">Reset</button>
      </form>
    </div>
    <br>
    <div class = "donki-report">
          <!-- <h1>Today in space weather:</h1> -->
          <p>Coronal mass ejection on {{date}} at {{format_cme_time}} traveling at {{cme_speed}} km/s!</p>
          <p>It {{impact}} hit Earth. {{blow}}</p>
          <p>{{arrival_statement}}</p> 
          <br> 
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-btn" data-hashtags="NASA" data-show-count="false"><i></i>Tweet</a>
          <!-- User can access historical reports and images but inputting a date range -->
        </div>
</div>

<div class="split right">
  <div class="centered">
    <!-- <div class="epicP"> -->
    <div class="tooltip">  
      <img src= {{img_url}} width="500" height="500" id= "epic_p">
      <!-- <p class="epic-date">This picture was taken on: {{epicdate}}</p> -->
        <span class="tooltiptext">This picture was taken on: {{epicdate}}</span>
    </div>
    <div class = "forward-backward">
        <form action = "/forward-backward-epic">
            <!-- I want this button to pass a start date to the server route that is one day after the date 
            the displayed image is from, and rerender the page -->
            <input type="submit" class = "button" value = "Go forward" id = "forward" title = {{epicdate}}>
             <!-- I want this button to pass a start date to the server route that is one day before the date 
            the displayed image is from, and rerender the page -->
            <input type="submit" class = "button" value = "Go back" id = "backward" title = {{epicdate}}>
          </form>
    </div>    
     
    <!-- jinja: if user email not in session, display these things: -->
    {% if session.get("user_email", None) %}
    <!-- <p>Rate this Earth from 1-5 stars:</p> -->
    <form action = '/rate' method = "POST">
    <div class="rate">
      <input type="radio" id="star5" name="num_stars" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="num_stars" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="num_stars" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="num_stars" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="num_stars" value="1" />
      <label for="star1" title="text">1 star</label>
      <br>
      <br>
   </div>
   <div class = "comment">
    <input type="text" name="comment" placeholder="leave a comment" style="height:26px;font-size:14pt;">
    <input type="hidden" name="epic_url" value="{{epic_url}}">
    <input type="hidden" name="donki_url" value="{{donki_url}}">
    <input type="submit" class = "button" onclick="loading();">
    </form>
    
  
      <a href="/profile" class="button">Go to profile</a>
      <a href="/logout" class = "button"> Log Out </a> 
    
  </div>
    {% else %}
    
    <form action="/users" method="POST">
        <input type="text" name="email" placeholder="hey what's your email" style="height:26px;font-size:14pt;">
        <input type="text" name="password" placeholder="hey what's your password" style="height:26px;font-size:14pt;">
        <input type="submit" class = "button" name="anything_submit" value="Create an Account" onclick="loading();">
    </form>
    
    <form action="/handle-login" method="POST">
        <input type="text" name="login_email" placeholder="gimme that email" style="height:26px;font-size:14pt;">
        <input type="text" name="login_password" placeholder="gimme that password" style="height:26px;font-size:14pt;">
        <input type="submit" class = "button" name="anything_submit" value="Log In" onclick="loading();">
    </form>
  
    {% endif %} 
    </div>

  </div>
</div> 


<script type="text/javascript">
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>

 <script>
    function addDay(evt) {
        evt.preventDefault()

        var date = evt.target.title
        console.log(date)
        var result = new Date(date)
        result.setDate(result.getDate(date)+1)
        console.log(result.toString())
        console.log(typeof(result))

        $.get("/forward-backward-epic", {"result": result}, res => 
        // select the image on the page and change the source url  
            {document.getElementById("epic_p").src = res;
            console.log(res)}

            )
        return result;
        }

    function subtractDay(evt) {
        evt.preventDefault()
        var date = evt.target.title
        console.log(date)
        var result = new Date(date)
        result.setDate(result.getDate(date)-1)
        console.log(String(result))
        $.get("/forward-backward-epic", {"result": result}, res => 
        // select the image on the page and change the source url  
            {document.getElementById("epic_p").src = res;
            console.log(res)}

            )
        return result;
        }
    document.getElementById("forward").addEventListener("click", addDay)
    document.getElementById("backward").addEventListener("click", subtractDay)

</script>

{% endblock body %}