{% extends 'base.html' %}
{% block title %}Space Weather Home{% endblock %}


{% block head %} {% endblock %}

{% block body %}

<!-- navbar: -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">text on left</a> -->
  <div class="btn-group" role="group">
    <a href="/get-historical-data" class="btn btn-outline-light" >See the past before it sees you</a>
    <a href="/profile" class="btn btn-outline-light">Go to profile</a>
    <a href="/logout" class = "btn btn-outline-light"> Log Out </a>
  </div>

  <form class="form-inline" action="/users" method="POST">
    <div class="input-group">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="password" placeholder="Password">
        <input type="submit" class = "btn btn-outline-light" name="anything_submit" value="Create an Account" onclick="loading();">
    </div>
    </form>
   
  <form class="form-inline" action="/handle-login" method="POST">
    <div class="input-group">
        <input type="text" name="login_email" placeholder="Email">
        <input type="text" name="login_password" placeholder="Password">
        <input type="submit" class = "btn btn-outline-light" name="anything_submit" value="Log In" onclick="loading();">
      </div>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
</div>
</nav>




<div id="loading">          
  <a href="https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp"></a>
  <h1> Thank you for waiting while we go to space and back.</h1>
</div>


<!-- bootstrap: -->
<div class="container">
  <div class="row">
    <!-- left column -->
    <div class="col">
      <!-- <div class ="centered"> -->
      <!-- <div id="content"> -->
        <!-- display most recent report from the donki api -->
        <h1>Watch Out!</h1>
        <h2><p>Coronal mass ejection on {{date}} at {{format_cme_time}} traveling at {{cme_speed}} km/s!</p></h2>
        <h3>It {{impact}} hit Earth. {{blow}}</h3>
        <h3>{{arrival_statement}}</h3> 
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-btn" data-hashtags="NASA" data-show-count="false"><i></i>Tweet</a>
      <!-- </div> -->
    </div>
  <!-- </div> -->

  <!-- right column -->
    <div class="col">
      <!-- <div class = "centered"> -->
      <div class="tooltip">  
        <img src= {{img_url}} width="500" height="500">
          <span class="tooltiptext">This picture was taken on: {{epicdate}}</span>
        </div>    
       
      <!-- jinja: if user email not in session, display these things: -->
      {% if session.get("user_email", None) %}
      <!-- <p>Rate this Earth from 1-5 stars:</p> -->
      <form action = '/rate' method = "POST">
      <div class="rate">
        <input type="radio" id="star5" name="num_stars" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="num_stars" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="num_stars" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="num_stars" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="num_stars" value="1" />
        <label for="star1" title="text">1 star</label>
        <br>
        <br>
     </div>
     <div class = "comment">
      <input type="text" name="comment" placeholder="leave a comment" style="height:26px;font-size:14pt;">
      <input type="hidden" name="epic_url" value="{{epic_url}}">
      <input type="hidden" name="donki_url" value="{{donki_url}}">
      <input type="submit" class = "btn btn-outline-light" onclick="loading();">
      </form>
      
    
        <!-- <a href="/profile" class="btn btn-outline-light">Go to profile</a>
        <a href="/logout" class = "btn btn-outline-light"> Log Out </a>  -->
      
    </div>

      {% else %}
      <!-- create an account or log in -->
      <form action="/users" method="POST">
          <input type="text" name="email" placeholder="hey what's your email" style="height:26px;font-size:14pt;">
          <input type="text" name="password" placeholder="hey what's your password" style="height:26px;font-size:14pt;">
          <input type="submit" class = "btn btn-outline-light" name="anything_submit" value="Create an Account" onclick="loading();">
      </form>
      
      <form action="/handle-login" method="POST">
          <input type="text" name="login_email" placeholder="gimme that email" style="height:26px;font-size:14pt;">
          <input type="text" name="login_password" placeholder="gimme that password" style="height:26px;font-size:14pt;">
          <input type="submit" class = "btn btn-outline-light" name="anything_submit" value="Log In" onclick="loading();">
      </form>
    
      {% endif %} 
      </div>
    </div>
  </div>
  </div>
<!-- </div> -->


<!-- <div class="split left">
  <div class="centered">
    <div id="content"> -->
      <!-- display most recent report from the donki api -->
      <!-- <h1>Watch Out!</h1>
      <p>Coronal mass ejection on {{date}} at {{format_cme_time}} traveling at {{cme_speed}} km/s!</p>
      <p>It {{impact}} hit Earth. {{blow}}</p>
      <p>{{arrival_statement}}</p>  
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-btn" data-hashtags="NASA" data-show-count="false"><i></i>Tweet</a>
      <a href="/get-historical-data" class="button">See the past before it sees you</a>
      
    
    </div>
</div> -->

<!-- <div class="split right">
  <div class="centered">
    <div class="tooltip">  
      <img src= {{img_url}} width="500" height="500">
        <span class="tooltiptext">This picture was taken on: {{epicdate}}</span>
      </div>     -->
     
    <!-- jinja: if user email not in session, display these things: -->
    <!-- {% if session.get("user_email", None) %} -->
    <!-- <p>Rate this Earth from 1-5 stars:</p> -->
    <!-- <form action = '/rate' method = "POST">
    <div class="rate">
      <input type="radio" id="star5" name="num_stars" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="num_stars" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="num_stars" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="num_stars" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="num_stars" value="1" />
      <label for="star1" title="text">1 star</label>
      <br>
      <br>
   </div>
   <div class = "comment">
    <input type="text" name="comment" placeholder="leave a comment" style="height:26px;font-size:14pt;">
    <input type="hidden" name="epic_url" value="{{epic_url}}">
    <input type="hidden" name="donki_url" value="{{donki_url}}">
    <input type="submit" class = "button" onclick="loading();">
    </form>
    
  
      <a href="/profile" class="button">Go to profile</a>
      <a href="/logout" class = "button"> Log Out </a> 
    
  </div>
    {% else %}
    
    <form action="/users" method="POST">
        <input type="text" name="email" placeholder="hey what's your email" style="height:26px;font-size:14pt;">
        <input type="text" name="password" placeholder="hey what's your password" style="height:26px;font-size:14pt;">
        <input type="submit" class = "button" name="anything_submit" value="Create an Account" onclick="loading();">
    </form>
    
    <form action="/handle-login" method="POST">
        <input type="text" name="login_email" placeholder="gimme that email" style="height:26px;font-size:14pt;">
        <input type="text" name="login_password" placeholder="gimme that password" style="height:26px;font-size:14pt;">
        <input type="submit" class = "button" name="anything_submit" value="Log In" onclick="loading();">
    </form>
  
    {% endif %} 
    </div>

  </div>
</div>  -->
  


<script type="text/javascript">
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
{% endblock body %}