{% extends 'base.html' %}
{% block title %}Space Weather Home{% endblock %}


{% block head %} 
<style>
  *{
      margin: 0;
      padding: 0;
  }
  .rate {
      border: 1px solid #cccccc;
      float: left;
      height: 46px;
      padding: 0 10px;
  }
  .rate:not(:checked) > input {
      position:absolute;
      top:-9999px;
  }
  .rate:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
  }
  .rate:not(:checked) > label:before {
      content: '★ ';
  }
  .rate > input:checked ~ label {
      color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
      color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
  }
  div#loading {
    width: 480px;
    height: 480px;
    display: none;
    background: url(https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp);
    cursor: wait;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}

{% block body %}
 
  <div id="loading">          
            <a href="https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp">
            </a>
  </div>
  
<div id="content">
  <h1>Watch Out!</h1>
  <p>Coronal mass ejection on {{date}} at {{format_cme_time}} traveling at {{cme_speed}} km/s!</p>
  <p>It {{impact}} hit Earth. {{blow}}</p>
  <p>{{arrival_statement}}</p>
  <p>This picture was taken on: {{epicdate}}</p>
  <img src= {{img_url}} width="300" height="300">

      <h3>Create an account:</h3>
      <p>
      <form action="/users" method="POST">
          Email<input type="text" name="email" placeholder="hey what's your email">
          Password <input type="text" name="password" placeholder="hey what's your password">
          <input type="submit" name="anything_submit" value="Submit" onclick="loading();">
      </form>
      </p>
      <h3>Log in:</h3>
      <p>
      <form action="/handle-login" method="POST">
          Email<input type="text" name="login_email" placeholder="gimme that email">
          Password <input type="text" name="login_password" placeholder="gimme that password">
          <input type="submit" name="anything_submit" value="Submit" onclick="loading();">
      </form>
      </p>

  <p>Rate this Earth from 1-5 stars:</p>

  <form action = '/rate' method = "POST">
    <div class="rate">
      <input type="radio" id="star5" name="num_stars" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="num_stars" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="num_stars" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="num_stars" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="num_stars" value="1" />
      <label for="star1" title="text">1 star</label>
      <br>
      <br>
    <p></p>
    <!-- <input type = "text" name = "comment" > -->
    </div>
    Leave a comment: <input type="text" name="comment" placeholder="gimme that comment">
    <input type="hidden" name="epic_url" value="{{epic_url}}">
    <input type="hidden" name="donki_url" value="{{donki_url}}">
    <p>
      <input type="submit" onclick="loading();">
    </p>
  </form>
  
</div> 
  
<script type="text/javascript">
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
</script>
{% endblock %}