{% extends 'base.html' %}
{% block title %}Space Weather Home{% endblock %}


{% block head %} 
<style>
  .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  margin-left: 100px;
  margin-top: 100px;
}


.right {
  right: 0;
  /* background-color: red; */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .donki{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered img {
  width: 100%;
  border-radius: 5%;
} */

</style>
{% endblock %}

{% block body %}
<div id="loading">          
  <a href="https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp"></a>
  <h1> Thank you for waiting while we go to space and back.</h1>
</div>

<div id="content">

<!-- navbar -->
<nav class="navbar navbar-expand-lg nav-transparent sticky-top">
  <a class="navbar-brand" href="#">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/main">Home</a>
      <a class="nav-link" href="/todo-list" class="btn btn-outline-light">List</a>
      <a class="nav-link" href="/profile" class="btn btn-outline-light">Profile</a>
      <a class="nav-link" href="/logout" class = "btn btn-outline-light"> Log Out </a>
    </div>
  </div>
</div>
</nav>


<div class = "row">
<!-- donki forecast -->
<!-- <div class="split left"> -->
  <div class="col-6 left">
  <!-- <div class="centered"> -->
    
    <h1>Watch Out!</h1>
    <h2><p> 
      <div class="hover_img">
        <a href="#">Coronal mass ejection<span><img src="https://i.giphy.com/media/l2Sq7UcchYPqoR3vq/giphy.webp" alt="cme gif" height="300" /></span></a>
      </div>
      on {{date}} at {{format_cme_time}} traveling at {{cme_speed}} km/s!</p></h2>
    <h3>Impact Earth? {{impact}} {{blow}}</h3>
    <h3>{{arrival_statement}}</h3> 

    <button class = "btn btn-outline-light" onClick = openTwitter()>Tweet this</button>
    <div style = "height: 150px;"></div>

      <!-- display most recent report from the donki api -->
      <form action = "/get-historical-data">
        <h1>Curious about the past?</h1>
        <label>
          start:
          <input id = "today" type="date" name="sdate" value = "">
          <br>
          end:
          <input id = "today" type="date" name="edate" value = "">
        </label>
        <br>
        <div class="btn-group" role="group">
          <input type="submit" class = "btn btn-outline-light" onclick="loading();">
          <button type="reset" class = "btn btn-outline-light" value="Reset">Reset</button>
        </div>
      </form>
    </div>  
  <!-- </div> -->
<!-- </div> -->

<!-- epic photo -->
<!-- <div class="split right"> -->
  <!-- <div class="centered"> -->
    <div class="col-5 text-center">
    <div class = "forward-backward">
      <form action = "/forward-backward-epic">
        <span><img src= {{img_url}} id = "epic_p" class="img-fluid" alt="photo of the earth from space" data-toggle="tooltip" data-placement="top" 
          value = "{{ epicdate }}" aria-label = "fred"></span>
        <div class="epic-btn">
          <button  class = "btn btn-outline-light" name = "backward_date" value = "{{ epicdate }}" id = "backward" 
            title = "{{ epicdate }}" >&#60;</button>
            <!-- <div><img src= {{img_url}} id = "epic_p" class="img-fluid" alt="photo of the earth from space" data-toggle="tooltip" data-placement="top" 
            value = "{{ epicdate }}" aria-label = "fred"></div> -->
          <button  class = "btn btn-outline-light" name="forward_date" value = "{{ epicdate }}" id = "forward" 
            title = "{{ epicdate }}" >&#62;</button>
        </div>
        </form>
    </div>
    <form action = '/rate' method = "POST">
      <div class="rate">
        <input type="radio" id="star5" name="num_stars" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="num_stars" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="num_stars" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="num_stars" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="num_stars" value="1" />
        <label for="star1" title="text">1 star</label>
        <br>
        <br>
      </div>
     <!-- <div class = "comment"> -->
      <div class = "form-control">

      <input type="text" class = "input-lg align-middle" name="comment" placeholder="leave a comment" style="height:35px;font-size:14pt;">
      <input type="hidden" name="epic_url" value="{{epic_url}}">
      <input type="hidden" name="donki_url" value="{{donki_url}}">
      <input type="submit" class = "btn btn-outline-light" onclick="loading();">
      </form>
  
  </div>
<!-- </div> -->
<!-- end content div: -->
</div> 



<!-- <div class="container-fluid"> -->

<!-- <div id="content">
  <div class="row"> -->
  <!-- donki forecast -->
    <!-- <div class = "col-6 justify-content-center">
        <h1>Watch Out!</h1>
        <h2><p> 
          <div class="hover_img">
            <a href="#">Coronal mass ejection<span><img src="https://i.giphy.com/media/l2Sq7UcchYPqoR3vq/giphy.webp" alt="cme gif" height="300" /></span></a>
          </div>
          on {{date}} at {{format_cme_time}} traveling at {{cme_speed}} km/s!</p></h2>
        <h3>Impact Earth? {{impact}} {{blow}}</h3>
        <h3>{{arrival_statement}}</h3> 
        <button class = "btn btn-outline-light" onClick = openTwitter()>Tweet this</button>
    </div> -->
    <!-- <div class = "col-6 justify-content-center"> -->
      <!-- <div class = "forward-backward">
        <form action = "/forward-backward-epic">
          <div class="epic-btn">
            <button  class = "btn btn-outline-light" name = "backward_date" value = "{{ epicdate }}" id = "backward" 
              title = "{{ epicdate }}" >&#60;</button>
              <span><img src= {{img_url}} id = "epic_p" class="img-fluid" alt="photo of the earth from space" data-toggle="tooltip" data-placement="top" 
              value = "{{ epicdate }}" aria-label = "fred"></span>
            <button  class = "btn btn-outline-light" name="forward_date" value = "{{ epicdate }}" id = "forward" 
              title = "{{ epicdate }}" >&#62;</button>
          </div>
          </form>
      </div> -->
    <!-- </div>
  </div>
  <div class="row">
    <div class = "col-6 justify-content-center"> -->

        <!-- display most recent report from the donki api -->
        <!-- <form action = "/get-historical-data"> -->
          <!-- <h1>Stuck in the past?</h1> -->
          <!-- <label>
            <h2>Start:</h2>
            <input id = "today" type="date" name="sdate" value = "">
         
            <h2>End:</h2>
            <input id = "today" type="date" name="edate" value = "">
          </label>
          <br>
          <div class="btn-group" role="group">
            <input type="submit" class = "btn btn-outline-light" onclick="loading();">
            <button type="reset" class = "btn btn-outline-light" value="Reset">Reset</button>
          </div>
        </form>
      </div>     -->
    <!-- <div class = "col-6 justify-content-center">
      <div class = "forward-backward">
        <form action = "/forward-backward-epic">
          <div class="btn-group" role="group">
            <button  class = "btn btn-outline-light" name = "backward_date" value = "{{ epicdate }}" id = "backward" 
              title = "{{ epicdate }}" ><</button>
              <span><img src= {{img_url}} id = "epic_p" class="img-fluid" alt="photo of the earth from space" data-toggle="tooltip" data-placement="top" 
              value = "{{ epicdate }}" aria-label = "fred"></span>
            <button  class = "btn btn-outline-light" name="forward_date" value = "{{ epicdate }}" id = "forward" 
              title = "{{ epicdate }}" >></button>
          </div>
          </form>
      </div>
    </div> -->
  <!-- </div>
  <div class="row"> -->
    <!-- <div class = "col-6 justify-content-center">
        <img src= {{img_url}} id = "epic_p" class="img-fluid" alt="photo of the earth from space" data-toggle="tooltip" data-placement="top" 
        value = "{{ epicdate }}" aria-label = "fred">
    </div> -->
    <!-- EPIC photo -->
    <!-- <div class = "col-6 justify-content-center"> -->
         <!-- <p>Rate this Earth from 1-5 stars:</p> -->
      <!-- <form action = '/rate' method = "POST">
        <div class="rate">
          <input type="radio" id="star5" name="num_stars" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="num_stars" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="num_stars" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="num_stars" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="num_stars" value="1" />
          <label for="star1" title="text">1 star</label>
          <br>
          <br>
        </div>
       <div class = "comment">
        <input type="text" name="comment" placeholder="leave a comment" style="height:26px;font-size:14pt;">
        <input type="hidden" name="epic_url" value="{{epic_url}}">
        <input type="hidden" name="donki_url" value="{{donki_url}}">
        <input type="submit" class = "btn btn-outline-light" onclick="loading();">
        </form> -->
      <!-- </div>
    </div> -->
<!-- </div> -->



<script>
  function addDay(evt) {
      evt.preventDefault()
      const date = evt.target.value
      const result = new Date(date)
      result.setDate(result.getDate(date)+1)
     
      document.getElementById("forward").value = result.toString();
      document.getElementById("backward").value = result.toString();
      document.getElementById("epic_p").value = result.toString();
      document.getElementById("epic_p").title = result.toString();


      $.get("/forward-backward-epic", {"result": result}, res => {
          // select the image on the page and change the source url 
          document.getElementById("epic_p").src = res.img_url;
        
        })
      
        return result;
      }

  function subtractDay(evt) {
      evt.preventDefault()

      const date = evt.target.value
      
      const result = new Date(date)
      result.setDate(result.getDate(date)-1)
     
      document.getElementById("forward").value = result.toString();
      document.getElementById("backward").value = result.toString();
      document.getElementById("epic_p").value = result.toString();
      document.getElementById("epic_p").title = result.toString();


      $.get("/forward-backward-epic", {"result": result}, res => {
          // select the image on the page and change the source url 
          document.getElementById("epic_p").src = res.img_url;
      
        })

        return result;
      }
  document.getElementById("forward").addEventListener("click", addDay)
  document.getElementById("backward").addEventListener("click", subtractDay)
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
function openTwitter(evt){
  const url = "http://space-weather.com";
  const text = "Space weather happening at {{format_cme_time}}";
  window.open('http://twitter.com/share?url='+encodeURIComponent(url)+'&text='+encodeURIComponent(text), '', 'left=0,top=0,width=550,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
}
</script>
{% endblock body %}