{% extends 'base.html' %}
{% block title %}Profile Home{% endblock %}


{% block head %} 
<script src = "/static/js/3todolist.jsx" type="text/jsx"></script>

{% endblock head %}

{% block body %}
<div id="loading">          
    <a href="https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp"></a>
    <h1> Thank you for waiting while we go to space and back.</h1>
</div>

<div id = "content">
    <h1>Hello {{session.get("user_email")}}!</h1>
    <h2>
        Thank you for rating {{num_rates}} photo(s) of Earth.
        <br>
        On average, you rate photos of the earth {{avg_user_rating}} out of 5 stars.
    </h2>
    <div id="todolist" class = "todo"></div>

    <br>
    Would you like to update your information?
    <input type="button" class = "btn btn-outline-light" name="update-info" value="Update email/password" onclick="showDiv()" />
</div>

<div id = "update-info" style = "display:none;">
<form action="/email-update" method="POST">
    <!-- <input type="text" name="change_email" placeholder="Give me old email" style="height:26px;font-size:14pt;"> -->
    <input type="text" name="new_email" placeholder="Give me new email.">
    <input type="submit" class = "btn btn-outline-light" name="anything_submit" value="Update email" onclick="loading();">
</form>
    <br>
<form action="/password-update" method="POST">
    <input type="text" name="change_password" placeholder="Give me old password">
    <input type="text" name="new_password" placeholder="Give me new password" >
    <input type="submit" class = "btn btn-outline-light" name="anything_submit" value="Change password" onclick="loading();">
</form>
</div>

<a href = "/main" class = "btn btn-outline-light">ReVERT</a>

{% endblock %}