{% extends 'base.html' %}
{% block title %}Profile Home{% endblock %}


{% block head %} 
<style>
    #update {
        display: none;
    }
    @import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url(/static/nasa-Yj1M5riCKk4-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;

height: 100%;
}

.container{
height: 100%;

}

.card{
height: 295px;
margin-top: auto;
margin-bottom: auto;
width: 700px;
/* background-color: rgba(0,0,0,0.5) !important; */
padding: 10px;
background-color: rgba(0,0,0,.7) !important;


position: absolute;
top: 50%;
transform: translate(0, -50%);
padding: 10px;
}



.card-header h3{
color: white;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.login_btn{
color: black;
background-color: #ff12c4;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
</style>
{% endblock head %}

{% block body %}
<div id="loading">          
    <a href="https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp"></a>
    <h1> Thank you for waiting while we go to space and back.</h1>
</div>

<div id = "content">
    <!-- navbar -->
<nav class="navbar navbar-expand-lg nav-transparent sticky-top">
    <a class="navbar-brand" href="#">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/main">Home</a>
        <a class="nav-link" href="/todo-list" class="btn btn-outline-light">List</a>
        <a class="nav-link" href="/profile" class="btn btn-outline-light">Profile</a>
        <a class="nav-link" href="/logout" class = "btn btn-outline-light"> Log Out </a>
      </div>
    </div>
  </div>
</nav>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Hello {{session.get("user_email")}}!</h3>
                
                </div>
                <div class="card-body">
                    <h2>
                        Thank you for rating {{num_rates}} photo(s) of Earth.
                        <br>
                        On average, you rate photos of the earth {{avg_user_rating}} out of 5 stars.
                    </h2>
                </div>
    
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        <div>
                            <button class="btn float-right login_btn" onclick="toggleShow()">Update info</button>

                        </div>
                    </div>
                    <!-- update info -->
                    <div id = "update" display = "none">
                    <form action="/email-update" method="POST" class = "form-signin">
                        <div class="input-group form-group">
                            <input type="text" name = "new_email" class="form-control" placeholder="email address" autofocus = "">
                        </div>
                        <div class="input-group form-group">
                            <input type="password" name = "change_password" class="form-control" placeholder="old password">
                            <input type="password" name = "new_passwordpassword" class="form-control" placeholder="new password">
                        </div>
                    
                        <div class="form-group">
                            <input type="submit" value="Update" name = "anything_submit" class="btn float-right login_btn" onclick="loading();">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- <div id = "content">
    <h1>Hello {{session.get("user_email")}}!</h1>
    <h2>
        Thank you for rating {{num_rates}} photo(s) of Earth.
        <br>
        On average, you rate photos of the earth {{avg_user_rating}} out of 5 stars.
    </h2>

    <br>
    Would you like to update your information?
    <input type="button" class = "btn btn-outline-light" name="update-info" value="Update email/password" onclick="showDiv()" />
</div>

<div id = "update-info" style = "display:none;">
<form action="/email-update" method="POST">
    <input type="text" name="new_email" placeholder="Give me new email.">
    <input type="submit" class = "btn btn-outline-light" name="anything_submit" value="Update email" onclick="loading();">
</form>
    <br>
<form action="/password-update" method="POST">
    <input type="text" name="change_password" placeholder="Give me old password">
    <input type="text" name="new_password" placeholder="Give me new password" >
    <input type="submit" class = "btn btn-outline-light" name="anything_submit" value="Change password" onclick="loading();">
</form>
</div>

<a href = "/main" class = "btn btn-outline-light">ReVERT</a> -->
<script>
    function toggleShow() {
      var x = document.getElementById("update");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
{% endblock %}