{% extends 'base.html' %}
{% block title %}Profile Home{% endblock %}


{% block head %} 
<style>
    div#loading {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp);
    /* background-color: rgba(0,0,0,0.5); Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .button {
  background-color: grey;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;

}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}

{% block body %}
<div id="loading">          
    <a href="https://i.giphy.com/media/3og0ICq6RIHdzjyDAI/giphy.webp"></a>
    <h1> Thank you for waiting while we go to space and back.</h1>
</div>

<div id = "content">
<p>
    <h1>Hello {{session.get("user_email")}}!</h1>
    Thank you for rating {{num_rates}} photos of Earth.
    <br>
    Would you like to update your information?
</p>
<form action="/profile-update" method="POST">
    <input type="text" name="change_email" placeholder="Give me old email" style="height:26px;font-size:14pt;">
    <input type="text" name="new_email" placeholder="Give me new email." style="height:26px;font-size:14pt;">
<br>
    <input type="text" name="change_password" placeholder="Give me old password" style="height:26px;font-size:14pt;">
    <input type="text" name="new_password" placeholder="Give me new password" style="height:26px;font-size:14pt;">
    <input type="submit" class = "button" name="anything_submit" value="Update user info" onclick="loading();">
</form>
</div>

<script type="text/javascript">
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
</script>
{% endblock %}