{% extends 'base.html' %}

{% block title %}To Do List {% endblock %}

{% block head %}
    <!-- this script tells the template where to find the js containing 
        the app i'm mounting to a div on this page -->
    <script>alert("weeeeeeeè")</script>
        <script src = "/static/js/todolist.jsx" type="text/jsx"></script>
{% endblock %}

{% block body %} 
        <!-- mounting my react components to this element -->
        <p>hello we are in the html template</p>
        <div id="todolist" class = "todo"></div>
{% endblock %}

